{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <div class="container">
        <div class="mb-4">
            <h1>Modifier l'article</h1>
        </div>

        {{ include('redac/article/_form.html.twig') }}

        {% if article.published %}
            <div class="alert alert-info mt-3">
                <i class="fas fa-info-circle"></i> 
                Cet article est publié et visible à l'adresse : 
                <a href="{{ path('app_article', {slug: article.titleSlug}) }}" 
                   target="_blank" class="alert-link">
                    {{ path('app_article', {slug: article.titleSlug}) }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %} 