{% extends 'base.html.twig' %}

{% block title %}Modifier la section{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier la section</h1>
        {{ include('admin/section/_form.html.twig') }}
    </div>
{% endblock %} 