{# If using form themes #}
{{ form_start(form) }}
    {# your form fields #}
{{ form_end(form) }}

{# OR if creating the form manually #}
<form method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('your_intention_here') }}">
    {# your form fields #}
</form> 