{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create New Article</h1>
        {{ include('admin/article/_form.html.twig') }}
    </div>
{% endblock %} 